In [226]:
import pandas as pd 
import json

In [227]:
df1=pd.read_excel('bangalore_cars.xlsx')
df2=pd.read_excel('chennai_cars.xlsx')
df3=pd.read_excel('delhi_cars.xlsx')
df4=pd.read_excel('hyderabad_cars.xlsx')
df5=pd.read_excel('jaipur_cars.xlsx')
df6=pd.read_excel('kolkata_cars.xlsx')

In [228]:
df=pd.concat([df1,df2,df3,df4,df5,df6],axis=0)

In [229]:
df

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1376,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1377,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1378,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1379,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1380,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [230]:
df=df.drop(columns='car_links')

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8369 entries, 0 to 1380
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   new_car_detail    8369 non-null   object
 1   new_car_overview  8369 non-null   object
 2   new_car_feature   8369 non-null   object
 3   new_car_specs     8369 non-null   object
dtypes: object(4)
memory usage: 326.9+ KB

In [232]:
replacement_dict = {"'": "\"", "None": "null"}

In [233]:
df['new_car_detail']=df['new_car_detail'].apply(lambda x: json.loads(x.replace("'", "\"").replace("None", "null")))
df['new_car_overview']=df['new_car_overview'].apply(lambda x: json.loads(x.replace("'", "\"").replace("None", "null")))
df['new_car_feature']=df['new_car_feature'].apply(lambda x: json.loads(x.replace("'", "\"").replace("None", "null")))
df['new_car_specs']=df['new_car_specs'].apply(lambda x: json.loads(x.replace("'", "\"").replace("None", "null")))

In [234]:
n1 = pd.json_normalize(df['new_car_detail'])
n2= pd.json_normalize(df['new_car_overview'])
n3= pd.json_normalize(df['new_car_feature'])
n4= pd.json_normalize(df['new_car_specs'])

In [235]:
n1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   it                    8369 non-null   int64
 1   ft                    8369 non-null   object
 2   bt                    8369 non-null   object
 3   km                    8369 non-null   object
 4   transmission          8369 non-null   object
 5   ownerNo               8369 non-null   int64
 6   owner                 8369 non-null   object
 7   oem                   8369 non-null   object
 8   model                 8369 non-null   object
 9   modelYear             8369 non-null   int64
 10  centralVariantId      8369 non-null   int64
 11  variantName           8369 non-null   object
 12  price                 8369 non-null   object
 13  priceActual           8369 non-null   object
 14  priceSaving           8369 non-null   object
 15  priceFixedText        0 non-null      object
 16  trendingText.imgUrl   8369 non-null   object
 17  trendingText.heading  8369 non-null   object
 18  trendingText.desc     8369 non-null   object
dtypes: int64(4), object(15)
memory usage: 1.2+ MB

In [236]:
n1=n1.rename(columns={'ft':'fuel_type','bt':'style'})

In [237]:
n1=n1.drop_duplicates()

In [238]:
n1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8244 entries, 0 to 8368
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   it                    8244 non-null   int64
 1   fuel_type             8244 non-null   object
 2   style                 8244 non-null   object
 3   km                    8244 non-null   object
 4   transmission          8244 non-null   object
 5   ownerNo               8244 non-null   int64
 6   owner                 8244 non-null   object
 7   oem                   8244 non-null   object
 8   model                 8244 non-null   object
 9   modelYear             8244 non-null   int64
 10  centralVariantId      8244 non-null   int64
 11  variantName           8244 non-null   object
 12  price                 8244 non-null   object
 13  priceActual           8244 non-null   object
 14  priceSaving           8244 non-null   object
 15  priceFixedText        0 non-null      object
 16  trendingText.imgUrl   8244 non-null   object
 17  trendingText.heading  8244 non-null   object
 18  trendingText.desc     8244 non-null   object
dtypes: int64(4), object(15)
memory usage: 1.3+ MB

In [239]:
dfc=n1[['fuel_type','style','km','transmission','ownerNo','oem','model','modelYear','centralVariantId','price']]

In [240]:
dfc

,fuel_type,style,km,transmission,ownerNo,oem,model,modelYear,centralVariantId,price
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,3979,â‚¹ 4 Lakh
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,6087,â‚¹ 8.11 Lakh
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,2983,â‚¹ 5.85 Lakh
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,1867,â‚¹ 4.62 Lakh
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,4277,â‚¹ 7.90 Lakh
...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,"10,000",Manual,1,Maruti,Maruti Celerio,2022,8682,â‚¹ 5.10 Lakh
8365,Petrol,Hatchback,"1,20,000",Manual,1,Maruti,Maruti Alto 800,2014,3943,â‚¹ 1.80 Lakh
8366,Petrol,Sedan,"50,000",Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,â‚¹ 5.50 Lakh
8367,Petrol,Hatchback,"40,000",Manual,1,Maruti,Maruti Ritz,2012,4144,â‚¹ 1.40 Lakh
8368,Diesel,SUV,"1,20,000",Manual,2,Renault,Renault Duster,2017,5048,â‚¹ 5 Lakh

In [241]:
dfc['price'] = dfc['price'].str.extract(r'â‚¹\s*([\d.]+)\s*Lakh').astype(float)

C:\Users\devli\AppData\Local\Temp\ipykernel_16556\3095725559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc['price'] = dfc['price'].str.extract(r'â‚¹\s*([\d.]+)\s*Lakh').astype(float)

In [242]:
dfc['price']

0      4.00
1      8.11
2      5.85
3      4.62
4      7.90
       ...
8364   5.10
8365   1.80
8366   5.50
8367   1.40
8368   5.00
Name: price, Length: 8244, dtype: float64

In [243]:
dfc['km']=dfc['km'].str.replace(',', '').astype('int64')

C:\Users\devli\AppData\Local\Temp\ipykernel_16556\3330260520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc['km']=dfc['km'].str.replace(',', '').astype('int64')

In [244]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8244 entries, 0 to 8368
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fuel_type         8244 non-null   object
 1   style             8244 non-null   object
 2   km                8244 non-null   int64
 3   transmission      8244 non-null   object
 4   ownerNo           8244 non-null   int64
 5   oem               8244 non-null   object
 6   model             8244 non-null   object
 7   modelYear         8244 non-null   int64
 8   centralVariantId  8244 non-null   int64
 9   price             8116 non-null   float64
dtypes: float64(1), int64(4), object(5)
memory usage: 708.5+ KB

In [245]:
num=dfc.select_dtypes(include=['Int64','float64'])
cat=dfc.select_dtypes(include=['object'])

In [246]:
num.corrwith(num['price'])

km                 -0.08
ownerNo            -0.13
modelYear           0.35
centralVariantId    0.21
price               1.00
dtype: float64

In [247]:
y=num['price']
num = num.drop('price', axis=1)

In [248]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.pipeline import Pipeline
import numpy as np

In [249]:
encoder = LabelEncoder()
encoded=cat.apply(lambda col:encoder.fit_transform(col))

In [250]:
scaler=StandardScaler()
scaled=scaler.fit_transform(num)

In [251]:
scaled=pd.DataFrame(scaled,columns=num.columns)
encoded=pd.DataFrame(encoded)

In [252]:
scaled.reset_index(drop=True, inplace=True)

In [253]:
x=pd.concat([encoded,scaled],axis=1)

In [254]:
x.columns

Index(['fuel_type', 'style', 'transmission', 'oem', 'model', 'km', 'ownerNo',
       'modelYear', 'centralVariantId'],
      dtype='object')

In [255]:
from sklearn.model_selection import train_test_split

In [256]:
y=y.dropna()
y.shape

(8116,)

In [257]:
x=x.dropna()
x=x.drop([8239,8240,8241,8242,8243])

In [258]:
x.shape

(8116, 9)

In [259]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [266]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [269]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
y_pred = linear_model.predict(x_test)
linear_mse = mean_squared_error(y_test, y_pred)
print(f'Linear Regression Mean Squared Error: {linear_mse}')
r2 = r2_score(y_test, y_pred)
r2

Linear Regression Mean Squared Error: 116.12624876340467

0.014090467884162683

In [270]:
rf_regressor = RandomForestRegressor(n_estimators=1000, random_state=42)

# Fit the model on the training data
rf_regressor.fit(x_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [271]:
y_pred = rf_regressor.predict(x_test)

In [272]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [273]:
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 126.27294543307947
R-squared: -0.07205478413807342